<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.CityMapper">
 
    <resultMap id="CityResultMap" type="City">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="state" property="state" />
        <result column="country" property="country" />
    </resultMap>
	
	<select id="findByState" resultMap="CityResultMap" parameterType="String">
        select * from city where state=#{state}
    </select>
    
    <select id="findAllCity" resultMap="CityResultMap">
        select id, name, state, country from city
    </select>
 
    <select id="selectCityById" resultMap="CityResultMap" parameterType="long" >
        select id, name, state, country from city WHERE id=#{id}
    </select>
 
    <insert id="insertCity" parameterType="City" useGeneratedKeys="true" keyProperty="id" >
        insert into city(name, state, country) values(#{name},#{state},#{country})
    </insert>
    
    <update id="updateCity" parameterType="City" >
        update city set name=#{name}, state = #{state}, country=#{country} where id = #{id} 
    </update>
    
    <delete id="deleteCity" parameterType="long" >
        delete from city where id = #{id} 
    </delete>
    
    <select id="count" resultType="long" >
        select count(*) from city 
    </select>
    
</mapper>

    